body {
    background-color: lightslategrey;
}

.wrapper{
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 350px;
    width: 400px;
    display: block;
    padding-top: 40px;
    border: 1px solid;
    border-radius: 4px;
    background-color: whitesmoke;
}

.header {
    color: cornflowerblue;
}

input, button {
    width: 260px;
    height: 30px;
    margin: 8px 70px;
}

input:focus {
    background-color: lightgray;
}

input[type="submit"]{
    background-color: #4CAF50;
    color: whitesmoke;
}

button {
    background-color: plum;
    color: black;
}

.error {
    width: 300px;
    padding: 15px 0px;
    margin: 0px 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    width: 300px;
    padding: 15px 0px;
    margin: 0px 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}